/**
 * QUnit Ninja Theme by Jamie Hoover
 */

body {
	background: #111;
	background: #111 no-repeat linear-gradient(#222, #111);
	margin: 0 auto;
	max-width: 1024px;
	padding: 24px;
	font: 12px/1.6 "Lucida Grande", sans-serif;
	color: #ccc;
}

/* Header */

#qunit-header {
	float: left;
	min-width: 12em;
	margin: 0 0 1em 0;
	font-size: 24px;
	line-height: 1;
}
#qunit-header > a {
	color: #ccc;
	text-decoration: none;
}
#qunit-header > a:hover {
	color: #ccc;
	text-decoration: underline;
}

#qunit-testrunner-toolbar {
	float: right;
	line-height: 2;
}
.qunit-url-config,
#qunit-modulefilter,
.qunit-filter {
	margin-bottom: 1em;
}
.qunit-url-config {
	display: block;
}
.qunit-url-config label {
	margin-left: 2em;
}
#qunit-modulefilter,
.qunit-filter {
	display: inline-block;
	margin-left: 2em;
}
#qunit-modulefilter {
	position: relative;
	line-height: 1;
}
#qunit-modulefilter-search {
	box-sizing: border-box;
	width: 250px;
}
#qunit-modulefilter-actions {
	display: block;
	overflow: hidden;
}
#qunit-modulefilter-dropdown {
	box-sizing: border-box;
	width: 250px;
	display: block;
	position: absolute;
	right: 0;
	top: 100%;
	border: 1px solid #666;
	border-top: none;
	background: #111;
}
#qunit-modulefilter .clickable {
	display: block;
	padding: 0.5em 0.5em;
	cursor: pointer;
}
#qunit-modulefilter-actions .clickable {
	padding: 1em 0.5em;
}
#qunit-modulefilter .clickable.checked {
	background: #222;
}
#qunit-modulefilter-actions button {
	margin: 0.5em 0.25em;
	float: right;
}
#qunit-modulefilter-actions label {
	display: block;
}
#qunit-modulefilter-dropdown-list {
	margin: 0;
	padding: 0;
	border-top: 1px solid #666;
	overflow-y: hidden;
}

#qunit-banner {
	display: none;
}
#qunit-banner.qunit-fail ~ #qunit-userAgent {
	border-top: 1px solid #c33;
}
#qunit-banner.qunit-pass ~ #qunit-userAgent {
	border-top: 1px solid #6c6;
}

#qunit-userAgent {
	padding-top: 2em;
	clear: both;
	font-family: "Menlo", monospace;
	font-size: 9px;
	font-weight: normal;
	color: #666;
}

#qunit-testresult {
	font-family: "Menlo", monospace;
	font-size: 12px;
	padding-bottom: 1em;
}
#qunit-testresult .module-name {
	font-weight: bold;
}
#qunit-testresult br {
	content: "";
}
#qunit-testresult br:after {
	content: " ";
}
#qunit-testresult span:before {
	display: inline-block;
}
#qunit-testresult span.failed {
	color: #c33;
}
#qunit-testresult span.passed {
	color: #6c6;
}
#qunit-testresult a {
	color: #666;
}
#qunit-testresult a:hover {
	color: #ccc;
}

/* Test row */

#qunit-tests {
	list-style-position: inside;
	padding: 0;
	font-family: "Menlo", monospace;
	font-size: 12px;
	color: #666;
}

#qunit-tests li strong {
	font-weight: normal;
}

#qunit-tests li > strong:hover {
	cursor: pointer;
	color: #ccc;
	text-decoration: underline;
}
#qunit-tests li a {
	padding: 0 6px;
	color: #666;
	text-decoration: none;
}

#qunit-tests li a:hover {
	color: #ccc;
	text-decoration: underline;
}

#qunit-tests b.counts,
#qunit-tests .counts b {
	font-weight: normal;
}

#qunit-tests li .runtime {
	font-size: smaller;
}

#qunit-tests li.pass .module-name,
#qunit-tests li.pass .test-name {
	color: #ccc;
}

#qunit-tests li.pass .counts,
#qunit-tests li.pass .test-message {
	color: #6c6;
}

#qunit-tests li.fail .module-name,
#qunit-tests li.fail .test-name,
#qunit-tests li.fail .test-message,
#qunit-tests li.fail .counts .failed {
	color: #c33;
}

#qunit-tests li.fail .counts .passed {
	color: #6c6;
}

/* Test assertion output */

.qunit-collapsed {
	display: none;
}

.qunit-assert-list {
	list-style-position: inside;
	padding: 0 0 0 22px;
}

.qunit-assert-list li:hover {
    color: #ccc;
}

.qunit-assert-list .runtime {
	float: right;
}

.qunit-assert-list table {
	border-collapse: collapse;
}
.qunit-assert-list table td pre {
	background-color: #222;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #ccc;
	font: inherit;
	margin: 3px 0 3px 12px;
	padding: 12px 24px;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.qunit-assert-list table th {
	font-weight: normal;
}
.qunit-assert-list table th,
.qunit-assert-list table td {
	padding: 0;
	vertical-align: top;
}
.qunit-assert-list table tr.test-actual {
	color: #c33;
}
.qunit-assert-list table tr.test-diff del {
	color: #6c6;
}
.qunit-assert-list table tr.test-diff del,
.qunit-assert-list table tr.test-diff ins {
	text-decoration: none;
}
.qunit-assert-list table tr.test-diff ins {
	color: #c33;
}
.qunit-assert-list table tr.test-expected {
	color: #6c6;
}

/* Fixture */

#qunit-fixture {
	position: absolute;
	height: 768px;
	left: -1024px;
	top: -768px;
	width: 1024px;
}
